<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body alight="center">
    <h1>Welcome to OdinBook, <%= @user.first_name %>!</h1>
    <p>No one knows why, but it's super totally necessary for literally everyone on earth to have an OdinBook.<br>
       Now that you're caught up with the rest of the world, you get to check your feed every 2 minutes.<br>
       Why? No one knows, but you must. You'll see.
    </p>
  </body>
</html>