<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2" id="users-list">
        
        <div class="columns is-variable is-5 is-multiline is-mobile">
          <p class="title is-3" id="you-may-know">
            People You May Know
          </p>
          <% @users.each do |user| %>
            <% unless user == current_user || current_user.friends.include?(user) %>
              <div class="column is-half card">
                <div class="card-content p-3">
                  <div class="media">
                    <figure class="media-left image is-48x48">
                      <%= link_to user_path(user) do %>
                        <img src="https://i.imgur.com/53WcVOv.jpg">
                      <% end %>
                    </figure>
                    <div class="media-content">
                      <%= link_to user_path(user) do %>
                        <p class="title is-6"><%= user.full_name %></p>
                      <% end %>
                    </div>
                  </div>
                </div>
                <footer class="card-footer">
                  <% if current_user.sent_friend_requests.any? { |request| request.recipient_id == user.id } %>
                    <button class="button card-footer-item is-info is-light is-small">Request Pending</button>
                  <% elsif current_user.friends.include?(user) %>
                    <button class="button card-footer-item is-info is-light is-small">Already Friends</button>
                  <% else %>
                    <%= link_to "Send Friend Request",
                                friend_requests_path(recipient_id: user.id, redirect: request.path),
                                method: :post,
                                class: "button card-footer-item is-info is-small" %>
                  <% end %>
                </footer>
              </div>
              
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>