<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2" id="users-list">
        
        <div class="columns is-multiline is-mobile">
          <p class="title is-3" id="you-may-know">
            People You May Know
          </p>
          <% @users.each do |user| %>
            <% unless user == current_user || current_user.friends.include?(user) %>
              <div class="column is-half card">
                <div class="card-content p-3">
                  <div class="media">
                    <figure class="media-left image is-48x48">
                      <%= link_to user_path(user) do %>
                        <img src="https://i.imgur.com/53WcVOv.jpg">
                      <% end %>
                    </figure>
                    <div class="media-content">
                      <%= link_to user_path(user) do %>
                        <p class="title is-6"><%= user.full_name %></p>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>