/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import 'bulma';
  @import 'font-awesome';

  .container {
    max-width: 2500px;
    margin: auto;
  }

  .nav-text {
    color: white;
  }

  .level-item {
    margin-bottom: 0 !important;
  }

  .profile {
    padding: 0 !important;
    margin-top: -36px !important;
  }

  .is-horizontal-center {
    justify-content: center;
  }

  .notification {
    padding: .5rem 2.5rem .5rem .25rem;
  }

  .separator {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
  }
  
  .separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .25em;
  }