<div class="dropdown is-right is-hoverable">
  <div class="dropdown-trigger nav-text nav-icon is-info">
    <span class="icon"><i class="fas fa-user-circle"></i></span>
  </div>
  <div class="dropdown-menu">
    <div class="dropdown-content">
      <%= link_to current_user.full_name,
                  user_path(current_user),
                  class: "dropdown-item" %>
      <%= link_to "New post",
                  new_post_path,
                  class: "dropdown-item" %>
      <%= link_to "Edit Profile",
                  edit_user_path(current_user),
                  class: "dropdown-item" %>
      <hr class="dropdown-divider">
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    </div>
  </div>
</div>